.count-span{
    background-color: black;
    color: white;
    border-radius: 50%;
    /* padding: 6px 5px; */
    height:30px;
    width:30px;
    font-weight: bold;
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: center;
}
.count-cart{
    width: 8%;
    height: 100%;
    float: right;
    border: 0px;
    text-align: center;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}