:root{
    /* --width:20%;
    --he*/
} 
.product-container{
    /* margin-left: 20%; */
    display: flex;
    height: 50%;
    max-height: 50%;
    width:50%;
    margin:auto;
}
.container-cart{
    height: 100vh
}
.product-part{
    width:50%;
    max-width: 50%;
}
.product-part-img{
    /* direction: ltr; */
    background-color: white;
    max-height:100%;
    display: flex;
    justify-content: center;
}

.product-img{
    max-width:100%;
    max-height: 100%;
}
.product-body{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-left: 1px solid black;
}
.text-small{
    font-size:small;
    /* margin-bottom: 20px; */
}
.margin-bottom{
    margin-bottom: 20px;
}
.product-btn{
    border:1px;
    background-color:black;
    color:white;
    padding: 10px 20px;
    width: 30%;
    /* border-radius: 50%; */
}
.product-quantity{
    width:20%;
    border:1px;
    padding: 10px 20px;
    background-color:#EDECEC;
    /* font-size: large; */
}